/* font styles */

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* color */

.primary-color {
    color: #4E47FF;
}
.dark-1 {
    color: #252432;
}
.dark-2 {
    color: rgba(37, 36, 50, 50%);
}
.dark-3 {
    color: #B3B3B3;
}

/* button styles */

.btn {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background-color: #4E47FF;
  color: #fff;
  border: 0;
  padding: 12px 36px;
  border-radius: 10px;
  transition: transform 0.7s, background-color 0.7s, color 0.7s;
}
.btn:hover {
    color: black;
    background-color: rgb(224, 193, 17);
    transform: scale(1.03);
}
body {
    margin: 0;
}
.max-width {
    width: 1140px;
}

/* navigation styles */

.navigation-bar {
    background-image: url(../images/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    height: 698px;
}
.nav-head {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-body {
    width: 905px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.nav-tittle {
    font-size: 65px;
    margin: 0;
}
.nav-logo {
    font-size: 34px;
    margin: 0;
}

/* action section styles */

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin-top: 116px;
}
.action-details {
    width: 518px;
}
.action-head {
    font-size: 42px;
    margin: 0;
}
.action-body {
    font-size: 24px;
    margin: 23px 0;
}
.action-image img {
    border-radius: 40px;
}

/* productive section styles */

.productive {
    background-color: rgba(78, 71, 255, 10%);
    height: 306px;
    margin-top: 116px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px
    
}
.productive-head {
    font-size: 38px;
    margin: 0;
}
.productive-body {
    width: 856px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 158px;
    text-align: center;

}
.productive-details .inter-bold {
    font-size: 80px;
    margin: 0;
}
.productive-details .inter-regular {
    font-size: 20px;
    margin: 0;

}

/* feedback section styles */

.feedback {
    margin-top: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.feedback-head {
    font-size: 42px;
    margin: 0;
}
.feedback-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.feedback-details {
    width: 367px;
    border: 1px solid #F2EDED;
    border-radius: 15px;
}

.feedback-images {
    margin: 24px
}
.feedback-details h5 {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 24px;
    color: #1E1E1E;
    font-size: 24px;
}
.feedback-details p {
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 24px;
    font-size: 16px;
    color: #1E1E1E;
}
.feedback-footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 12px;
    margin-left: 24px;
    
}
.feedback-footer img {
    border-radius: 50%;
}
.feedback-foot p {
    margin: 0;
    line-height: 20px;
    color: #757575;
}
